---
swagger: "2.0"
info:
  description: "This is a sample AspNetCore server."
  version: "1.0.0"
  title: "Swagger AspNetCore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "MIT"
host: "api.sample.io"
schemes:
- "https"
- "http"
definitions:
  OrderList:
    type: object
    properties:
      orders:
        type: list
        items:
          $ref: "#/definitions/Tag"
  Order:
    type: "object"
    properties:
      orderId:
        type: string
        format: uuid
      petId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
      shipDate:
        type: "string"
        format: "date-time"
      status:
        $ref: "#/definitions/OrderStatus"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Order"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
        readOnly: true
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Category"
  Tag:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Tag"
  Pet:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    - "isAdult"
    - "status"
    properties:
      id:
        type: "integer"
        format: "int64"
      category:
        $ref: "#/definitions/Category"
      name:
        type: "string"
        example: "doggie"
      isTagged:
        type: "boolean"
      isAdult:
        type: "boolean"
      photoUrls:
        type: "array"
        xml:
          name: "photoUrl"
          wrapped: true
        items:
          type: "string"
      tags:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Tag"
      messages:
        type: object
        additionalProperties:
          $ref: "#/definitions/Message"
      status:
        $ref: "#/definitions/PetStatus"
      previousStatus:
        $ref: "#/definitions/PetStatus"
    xml:
      name: "Pet"
  Message:
    type: object
    properties:
      code:
        type: integer
        text:
          type: string
  OrderStatus:
    type: string
    description: "Order Status"
    enum:
      - PLACED
      - APPROVED
      - DELIVERED
  PetStatus:
    type: string
    enum:
      - AVAILABLE_NOW
      - PENDING
      - SOLD
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
