    /// <summary>
    /// {{^description}}{{{name}}}{{/description}}{{#description}}{{{description}}}{{/description}}
    /// </summary>
    {{#description}}
    /// <value>{{{description}}}</value>
    {{/description}}
    {{#allowableValues}}{{#enumVars}}{{#-first}}{{#isString}}[JsonConverter(typeof(Newtonsoft.Json.Converters.StringEnumConverter))]{{/isString}}{{/-first}}{{/enumVars}}{{/allowableValues}}
    public enum {{#datatypeWithEnum}}{{.}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}
    {
#pragma warning disable 1591
{{#allowableValues}}{{#enumVars}}
        [EnumMember(Value = "{{{value}}}")]
        {{name}} = {{-index}}{{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
#pragma warning restore 1591
    }
